@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

